@font-face {
	font-family: 'grotesk';
	font-weight: 50;
	src: url('fonts/NeueHaasDisplay-Roman.woff') format('woff');
}

@font-face {
	font-family: 'grotesk';
	font-weight: 100;
	src: url('fonts/NeueHaasDisplay-Mediu.woff') format('woff');
}

@font-face {
	font-family: 'grotesk';
	font-weight: 200;
	src: url('fonts/NeueHaasDisplay-Bold.woff') format('woff');
}

@font-face {
	font-family: 'grotesk';
	font-weight: 300;
	src: url('fonts/NeueHaasDisplay-Black.woff') format('woff');
}
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background:#7F00FF; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #5300a6; 
  }

*{
	box-sizing: border-box;
}

::selection{
	color: #000;
	background-color: #CCCCCC;
}
html{
	scroll-behavior: smooth;
}

body{
	background-color: black;
	margin: 0;
	padding: 0;
}

.navbar{
	transition: 0.4s;
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 10%;
	background-color: transparent;	
	/* background-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0) ); */
}

.nav-logo{
	width: 150px;
	transition: transform 0.2s ;
	transition: width 0.4s;
}
.nav-logo:hover{
	transform: matrix(1, -0.1, 0, 1, 1, 1);
	filter: brightness(100) saturate(0) contrast(100) invert(100%);
}
.nav-links{
	list-style-type: none;
}
.nav-links li{
	position: relative;
	display: inline-block;
	margin:0px 10px;
}

.nav-links li a{
	padding:5px 10px;
	font-family: 'grotesk';
	font-weight: 100;
	text-decoration: none;
	color: #ffffff;
	transition:0.3s ;
}
.nav-links a::after{
	
	position: absolute;
	content: "";
	width: 100%;
	height: 4px;
	background-color:#ffffff;
	bottom: 0;
	left: 0;
	transform: translateY(5px) scaleX(0);
	transform-origin: bottom right; 
	transition: transform 0.4s;
	border-radius: 10px;
}

.nav-links li:hover a::after{
	transform: translateY(5px) scaleX(1);
	transform-origin: bottom left;
}
.banner{
	width: 100%;
	height: 100vh;
	overflow:hidden;
	display:flex;
	align-items: center;
}
.banner video{
	
	object-fit:cover;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.banner #cover-text{
	width: 80vw;
	left: 10%;
	position: absolute;
	display:flex;
	flex-direction: column;
	/*height: 750px;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0,0,0,0.8), rgb(0, 0, 0)),url("img/cover-image.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 10% 90%;
	background-size: cover;*/
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0.1rem;
}
.cover-text-scroll{
	position:absolute;
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 40%;
	
}
.cover-text-scroll img{
	width: 20px;
	filter: invert(100%);
	animation: scroll 0.7s ease-in-out 0s infinite alternate;
}
@keyframes scroll {
	0%{
		transform: translateY(20px);
	}
	100%{
		transform: translateY(-20px);
	}
}
#cover-text-head{
	font-family: 'grotesk';
	font-weight: 200;
	text-align:left;
	color:rgb(255, 255, 255);
	font-size: 3em;
}
#cover-text-body{
	line-height: 1.2;
	font-family: 'grotesk';
	font-weight: 50;
	text-align:left;
	color:rgb(255, 255, 255);
	font-size: 1.5em;
}
#cover-text-button{
	position: absolute;
	left:85%;
	top: 50%;
	transform: translateY(-50%);
}
#cover-text-button span{
	font-family:'grotesk';
	font-weight: 100;
	text-align:center;
	text-decoration: none;
	color: white;
	font-size: rem;
	transition: 0.2s;
	letter-spacing: 0em;
	margin-left:0px;
	opacity: 0;
}
#cover-text-button a{
	padding: 10px;
	text-decoration: none;
}
#cover-text-button i{
	color: white;
 	position:absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	transform-origin:center;
	font-size: 5rem;
	border-radius: 100%;
	transition: 0.2s;
	animation:wave 0.9s ease-out 0s infinite;
}
@keyframes wave {
	0%{
		box-shadow:0px 0px 0px 0px rgba(255, 255, 255, 0.789);
	}
	100%{
		box-shadow:0px 0px 0px 30px rgba(255, 255, 255, 0);	
	}
}
#cover-text-button a:hover i{
	border:80px solid transparent;
	transform: translateY(-50%) translateX(-50%);
	transform-origin:center;
	font-size: 2rem;
	animation-iteration-count: 0;
	width: 3rem;
   left: 100%;
}
#cover-text-button a:hover span{
	font-size: 2rem;
	opacity: 1;
	margin-left:0px;
}
/* #cover-text-button a::after{
	color: white;
	content:'\2192';
	font-size: 1em;
	position: absolute;
	top:0px;
	right:-20px;
	opacity: 0;
	transition:0.3s;
	vertical-align: middle;

} */

.section2{
background-color: #000000;
width: 100%;
height: 110vh;
}
.card-list-holder{
	display: flex;
	gap: 3em;
	margin-left: 5%;
	margin-right: 5%;
}
.card-list-holder>button{
	color: white;
	background-color: transparent;
	margin-top: 16%;
	height: max-content;
	font-size: 4em;
	transition: 0.3s;
	cursor: pointer;
}
.card-list-holder>button:hover{
	color: #7F00FF;
}
.section-heading{
	margin-left: 10%;
	color: white;
	padding-top:6em ;
	padding-bottom: 0.9em;	
}
.section-heading h1{
	position: relative;	
	display: inline;
	font-size: 3em;
	font-family: 'grotesk';
	font-weight: 200;
}
.section-heading i{
	color: #7F00FF;
	position: relative;
	bottom: 0.3em;
	font-size: 1.5em;
	padding-right: 0.5em;
}
.section-heading p{
	color:#adb5bd;
	font-family: 'grotesk';
	font-weight: 50;
	position: relative;
	bottom: 0.5em;
	font-size: 1.3em;
	margin-left: 2em;
}
.card-list{
	position: relative;
	gap: 1em;
	height: 470px;
	color: white;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	overflow-x: scroll;
	scroll-behavior: smooth;
}

.card-list::-webkit-scrollbar{
	/* width: 10px;
	height: 10px; */
	display: none;
}
.card-list::-webkit-scrollbar-thumb{
	background-color: #7F00FF;
}
.card-list::-webkit-scrollbar-track{
	background: linear-gradient(90deg,white,rgb(136, 136, 136),white);
}
.card{
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	position: relative;
	height: 400px;
	width: 300px;
	min-width: 250px;	
	border-radius:15px;
	background-color: #17141d;
	align-items: center;
	justify-content: center;
	box-shadow: -1rem 0 3rem #000;
	transition:0.2s;

}
.card-header {
	position: absolute;
	bottom: 2rem;
	line-height: 0.1rem;
	
}
.card-header p{
	font-family: 'grotesk';
	font-weight: 100;
	font-size: 0.9rem;
	color: rgb(224, 224, 224);
}
.card-header p i{
font-size: 0.8rem;
padding-right: 0.5rem;
}
.card-header h2{
	font-family: 'grotesk';
	font-weight: 100;
}
.card-header button{
	margin-left:50%;
	font-family: 'grotesk';
	font-weight: 200;
	border: none;
	background-color: #7F00FF;
	color:white;
	padding: 5px 10px;
	border-radius: 5px;
	transition: 0.3s;
	cursor: pointer;
}
.card-header button:hover{
	font-family: 'grotesk';
	font-weight: 200;
	border: none;
	background-color: white;
	color:#7F00FF;
}
.card-image{
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	width: 300px;
	height:400px;
}
.card-image::after {
	box-sizing: border-box;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	transition:0.3s;
	height: 100%;
	border-radius: 10px;
	border: 2px solid white;
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 1));
  }
.card-image img{
	display: block;
	object-fit:cover;
	border-radius: 10px;
	width: 300px;
	height:400px;
	background-color:white;
}

.card:hover{
	transform: translateY(-2rem);
}
.card:hover .card-image::after{
	border: 4px solid #7F00FF;
}
/* .card:hover~.card{
	transform: translateX(170px);
}
.card:not(:first-child){
	margin-left: ;
} */
.section3{
	background-color:white;
	padding-top: 1px;
	height: 110vh;
}
.section2-heading{
	margin-left: 10%;
	color: black;
	padding-top:6em ;
	padding-bottom: 1em;	
}
.section2-heading h1{
	position: relative;	
	display: inline;
	font-size: 3em;
	font-family: 'grotesk';
	font-weight: 200;
}
.section2-heading i{
	color: #7F00FF;
	position: relative;
	bottom: 0.3em;
	font-size: 1.5em;
	padding-right: 0.5em;
}
.section2-heading p{
	color: #6c757d;
	font-family: 'grotesk';
	font-weight: 50;
	position: relative;
	bottom: 0.5em;
	font-size: 1.3em;
	margin-left: 2em;
}
.about-me-content{
	box-sizing: border-box;
	height: 450px;
	display: flex;
	padding: 0em 10%;
	justify-content: center;
	align-items:center;
	align-content: center;
}
.about-me-text p{
	box-sizing: border-box;
	background:url("img/4\ GRADIENT\ COLOR\ by\ freeject.jpg");
	background-size: contain;
	color: white;
	width: 650px;
	height:450px;
	padding:4em;
	line-height: 1.5em;
	word-spacing: 0.1em;
	font-family: 'grotesk';
	font-weight: 50;
	font-size: 1.15em;
	
}
.about-me-image img{
	box-sizing: border-box;
	margin-top: 4px;
	height: 450px;
	object-fit: cover;
}

.section4{
	background-color:black;
	padding-top: 1px;
	height: 60vh;
}
.section4-content{
	display: flex;
	justify-content: space-evenly;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}
.section4-content-holder h2{
	color: #adb5bd;
	font-family: 'grotesk';
	font-weight: 100;
	font-size: 0.9em;
}
.section4-content-holder span{
	position: relative;
	padding-bottom: 0.3em;
	display: block;
	color:#ffffff;
	font-family: 'grotesk';
	font-weight: 100;
	font-size: 0.9em;
	transition: 0.3s;
	cursor: pointer;
}
.section4-content-holder span:after{
	content: "";
	position: absolute;
	top: 0.4em;
	left:-0.8em ;
	width: 0em;
	height: 0.4em;
	background-color: #b064fc;
	border-radius:100% ;
	opacity: 0;
	transition: 0.3s;
}

.section4-content-holder span:hover:after{
	opacity: 1;
	width: 0.4em;
	height: 0.4em;
}
.section4-content2 {
	gap: 2em;
	margin-top: 2%;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: center;
}

.section4-content2 span{
	font-family: 'grotesk';
	font-weight: 200;
	font-size: 1.5em;
	padding-bottom: 1em;
}


.section4-content2 form{
	background-color: #adb5bd;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: flex-end;
	border-radius: 0.2em;
	width: 600px;
}

.section4-content2 input,textarea{
	width: 100%;
	padding: 0.8em;
	outline: none;
	border: none;
	background-color: transparent;
	border-bottom: 2px solid black;
	color: black;
	font-family: 'grotesk';
	font-weight:100;
	font-size: 1em;
	margin-left: 2em;
	margin-right: 2em;
	
}

.section4-content2 input:focus,textarea:focus{	
	border-radius: 0.2em;
	background-color: white;
}
